.header-wrapper {
  background-color: #212121;
  border-radius: 10rpx;
  .rescue-count {
    text-align: right;
    font-size: 28rpx;
    color: #bfc1c5;
  }
  .rescue-switches {
    display: flex;
    justify-content: space-between;
    .switch-item {
      width: 48%;
      line-height: 88rpx;
      border: 1rpx solid rgb(245, 179, 2);
      text-align: center;
      border-radius: 10rpx;
    }
    .active {
      color: #000;
      background-color: rgb(245, 179, 2);
    }
  }
}

.scroll-list {
  margin-top: 20rpx;
  .list {
    background-color: #212121;
    border-radius: 10rpx;
  }
}
.list-l {
  float: left;
  width: 138rpx;
  margin-top: 50rpx;
}
.list-r {
  float: left;
  width: 592rpx;
  margin-top: 10rpx;
}
.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
.list-l .img-tag {
  width: 121rpx;
  height: 121rpx;
}
.list-one {
  padding-top: 20rpx;
  float: left;

  color: #535353;
  font-size: 30rpx;
  width: 592rpx;
}
.list-one .list-one-one {
  text-align: left;
  white-space: nowrap;
  float: left;
}
.list-one .list-one-one:nth-child(2) {
  text-align: left;
  white-space: nowrap;
}
.list-one .list-one-one .list-one-one-o {
  color: #21242e;
}
.list-two {
  float: left;
  font-size: 30rpx;
  color: #21242e;
  margin-top: 20rpx;
  width: 100%;
}
.list-two .list-two-two {
  white-space: nowrap;
  text-align: center;
  float: left;
  color: #535353;
}
.list-two .list-two-two:nth-child(1) {
  text-align: left;
}
.null-data {
  width: 100%;
  height: 50rpx;
  line-height: 50rpx;
  text-align: center;
  font-size: 26rpx;
}
.fffffl {
  float: left;
  width: 110rpx;
}
.ffffffl {
  float: left;
  width: 460rpx;
  white-space: normal;
}
